
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 5px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 0px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}


.baguetteBox-button {
    background-color: transparent !important;
}
